.checkboxes{
    display:flex;
    justify-content: center;
  }
  
  .question-card{
    display: flex;
    justify-content: center;
    border: rgba(111, 180, 138, 0.576);
    border-style:solid;
    border-width: 1rem;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: .9rem,;
    
  }

  .container{
    background-color: rgba(255, 152, 27, 0.353);
    border-radius: 4ch;
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 26rem;
    box-shadow: 0 .2rem 1rem rgba(0, 1, 0, 1);
  }

  .padding{
    padding: 1rem;
  }
  
  .submit_button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }