.background {
    display: grid;
    background-color: antiquewhite;
    padding: .5rem;
    border-radius: .5rem;
    grid-area: avatar;
    grid-template-areas: "profilepic"
                         "details";
    grid-gap: 0.5rem;
    text-align: center;
}