

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-secondary {
  --bs-btn-color: var(--bs-nav-link-color);    
    --bs-bg-opacity: 1;
    --bs-btn-bg: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    --bs-btn-border-color: #6c757d00;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #6c757d00;
    --bs-btn-hover-border-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
    --color: #0000008c; 
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.login-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.signup-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.admin-bg {
  background-image: url("https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.padding-top{
  padding-top: .5rem;
}

.card{
  /* silly bootstrap overwrite */
--bs-card-border-width: 0px;
--bs-card-bg: rgba(255, 255, 255, 0);
}

.body{
  background-color: rgba(8, 255, 255, 0.172);
}

.button {
  border-width: 0px;
}

.hover-effect:hover {
  color: black;
}

.nav-color{
  background: coral;
  background-color: aqua;
}
.nav-bar-button {
  padding: 8px;
  display: block;
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  font-size: var(--bs-nav-link-font-size);
  box-sizing: border-box;
  --bs-btn-border-width: 0px;
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

.container{
  background-color: rgba(255, 152, 27, 0.353);
  border-radius: 4ch;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  width: 26rem;
  box-shadow: 0 .2rem 1rem rgba(0, 1, 0, 1);
}

.padding{
  padding: 1rem;
}


.loader-container {
  width: 100%;
  height: 50%;
  display : flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.loader {
  margin: auto;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg)
  }
  75% {
    transform: rotate(-270deg)
  }

  100% {
    transform: rotate(-360deg);
  }
}