.user-profile-card{
    display: grid;
    grid-template-areas: "avatar bio bio bio"
                         "avatar testResults testResults testResults";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 1rem;
    margin: 3rem auto 0 auto;
    width: 95%;
    height: 100%;
}