.user-bio-title {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.user-bio-container {
    background-color: antiquewhite;
    padding: .5rem;
    border-radius: .5rem;
    grid-area: bio;
}

.user-bio-description {
    text-align: center;
    padding-top: 0.5rem;
}