.user-test-results-card {
    background-color: antiquewhite;
    padding: .5rem;
    border-radius: .5rem;
    height: 60%;
    padding-top: 1rem;
    grid-area: testResults;
    height: 100%;
}

.user-test-result-title {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}