.profile-img {
 
    border-radius: 8rem;
    width:100%; 
    height:20rem; 
    object-fit: contain;
    margin-bottom: .5rem;
}

.profile-img-container {
    grid-area: profilepic;
}

.button_container{
    width: 100%;
}